<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.heroicefforts.viable.android"
      android:versionCode="1"
      android:versionName="0.5.0">
    <application android:icon="@drawable/v2" android:label="@string/app_name">

        <provider android:name=".content.IssueContentProvider"
            android:authorities="net.heroicefforts.viable.Issues"
        />

        <activity android:name="net.heroicefforts.viable.android.BugReporterActivity">
        	<intent-filter>        	
        		<action android:name="android.intent.action.MAIN"/>
        		<category android:name="android.intent.category.BUGREPORT_JIRA"/>
        	</intent-filter>        	
        	<intent-filter>        	
        		<action android:name="android.intent.action.MAIN"/>
        		<category android:name="android.intent.category.DEFAULT"/>
        		<category android:name="android.intent.category.BUGREPORT_JIRA"/>
        	</intent-filter>        	
        </activity>

		<activity android:name="UninstallActivity">
        	<intent-filter>        	
        		<action android:name="android.intent.action.MAIN"/>
        		<category android:name="android.intent.category.DEFAULT"/>
        		<category android:name="android.intent.category.REPORT_UNINSTALL"/>
        	</intent-filter>        				
		</activity>

		<activity android:name="IssueViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.heroicefforts.issue" />
            </intent-filter>
		</activity>

		<activity android:name="RemoteIssueListActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
		</activity>

		<activity android:name="AppStatsActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
		</activity>

        <activity android:name="LocalIssueListActivity" android:label="@string/title_issues_list">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.heroicefforts.issue" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.heroicefforts.issue" />
            </intent-filter>
        </activity>

		<activity android:name="IssueTabsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>

		<receiver android:name="CrashReceiver">
			<intent-filter>
        		<action android:name="android.intent.action.MAIN"/>
        		<category android:name="android.intent.category.BUGREPORT_JIRA"/>
			</intent-filter>
		</receiver>

		<receiver android:name="InstallReceiver">
			<intent-filter>
        		<action android:name="android.intent.action.PACKAGE_ADDED"/>
        		<data android:scheme="package"/>
			</intent-filter>
		</receiver>

		<receiver android:name="UninstallReceiver">
			<intent-filter>
        		<action android:name="android.intent.action.PACKAGE_REMOVED"/>
        		<data android:scheme="package"/>
			</intent-filter>
		</receiver>

		<service android:name=".rep.it.auth.GCLAuthenticatorService" android:exported="true" android:process=":auth">
			<intent-filter>
	     		<action android:name="android.accounts.AccountAuthenticator" />
	   		</intent-filter>
	   		<meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator" />
		</service>
		
		<activity android:name=".rep.it.auth.CredsActivity">
			<intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>		
		</activity>
		
		<service android:name=".rep.it.auth.SyncAdapterService"
			android:exported="true" android:process=":contacts">
			<intent-filter>
				<action android:name="android.content.SyncAdapter" />
			</intent-filter>
			<meta-data android:name="android.content.SyncAdapter"
				android:resource="@xml/sync_contacts" />
			<meta-data android:name="android.provider.CONTACTS_STRUCTURE"
				android:resource="@xml/contacts" />
		</service>		
	
	    <meta-data android:name="JIRA" android:value="net.heroicefforts.viable.android.rep.jira.JIRARepository" />
		<meta-data android:name="viable-provider" android:value="JIRA" />
	<!-- 	
		<meta-data android:name="viable-provider-location" android:value="http://192.168.1.101:2990/jira/rest/viable/1.0/issue" />
	 -->	
		<meta-data android:name="viable-provider-location" android:value="http://bugs.heroicefforts.net/rest/viable/1.0/issue" />	
	    <meta-data android:name="Google" android:value="net.heroicefforts.viable.android.rep.it.GIssueTrackerRepository" />    

	</application>
	
    <uses-sdk android:minSdkVersion="5" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.USE_CREDENTIALS" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
	<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
</manifest> 