<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.heroicefforts.viable.android"
      android:versionCode="1"
      android:versionName="1.0.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">

        <provider android:name=".content.IssueContentProvider"
            android:authorities="net.heroicefforts.viable.Issues"
        />

        <activity android:name="net.heroicefforts.viable.android.BugReporterActivity">
        	<intent-filter>        	
        		<action android:name="android.intent.action.MAIN"/>
        		<category android:name="android.intent.category.BUGREPORT_JIRA"/>
        	</intent-filter>        	
        	<intent-filter>        	
        		<action android:name="android.intent.action.MAIN"/>
        		<category android:name="android.intent.category.DEFAULT"/>
        		<category android:name="android.intent.category.BUGREPORT_JIRA"/>
        	</intent-filter>        	
        </activity>

		<activity android:name="IssueViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.heroicefforts.issue" />
            </intent-filter>
		</activity>

		<activity android:name="RemoteIssuesListActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
		</activity>

		<activity android:name="AppStatsActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
		</activity>

        <activity android:name="IssuesListActivity" android:label="@string/title_issues_list">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.heroicefforts.issue" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.heroicefforts.issue" />
            </intent-filter>
        </activity>

		<activity android:name="IssueTabsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>

		<receiver android:name="net.heroicefforts.viable.android.CrashReceiver">
			<intent-filter>
        		<action android:name="android.intent.action.MAIN"/>
        		<category android:name="android.intent.category.BUGREPORT_JIRA"/>
			</intent-filter>
		</receiver>

    <meta-data android:name="JIRA" android:value="net.heroicefforts.viable.android.JIRARepository"></meta-data>
	<meta-data android:name="viable-provider" android:value="JIRA"></meta-data>
	<meta-data android:name="viable-provider-location" android:value="http://192.168.1.101:2990/jira/rest/tutorial-rest/1.0/issue"></meta-data>
    
</application>
    <uses-sdk android:minSdkVersion="5" />

<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 